.main-container {
    display:flex;
    flex-wrap: wrap;
    position: relative;
    height: 300px;
    padding-top: 60px;
}

.left-section {
    padding-left: 300px;
}

@media (max-width: 1470px) {
    .main-container {
        position: static;
        height: auto;
        display: block;
    }
    .left-section {
        padding-left: 10px;
    }
}


