.variant-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 50px;
    position: absolute;
    width: 60%;
    right: 200px;
}
.variant-block {
    width: 150px;
    height: 50px;
    border-radius: 10px;
}

.block-info {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1470px) {
    .variant-container {
        position: static;
    }
}